@Path(primitive = @ATTRIBUTE_TABLE_NAME@.class, name = @ATTRIBUTE_TABLE_NAME@.@ANCHOR_MNE@_@ATTRIBUTE_MNE@_@ANCHOR_DESC@_@ATTRIBUTE_DESC@, alias = @ATTRIBUTE_TABLE_NAME@.@ANCHOR_MNE@_@ATTRIBUTE_MNE@_@ANCHOR_DESC@_@ATTRIBUTE_DESC@_ALIAS)
@JsonProperty("@CAMEL_ATTRIBUTE_TABLE_NAME@")
@XmlAttribute(name = "@CAMEL_ATTRIBUTE_TABLE_NAME@")
@Builder.Default
private long @CAMEL_ATTRIBUTE_TABLE_NAME@ = Constants.@DATA_RANGE@;